$green: #03CF5D;
$red: #ff1414;
$white: #fff;
$siverLight: #dadada;
$silver: #999;
$silverDark: #666;
$blackDark: #333;
$blackAlpha10: rgba(#000, 0.1);

$default: $white;
$primary: $green;
$secondary: $siverLight;
$text: $blackDark;
$alpha: $blackAlpha10;
$warning: $red;